<head>
    <link href="~/Content/styleAreaAluno.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

@{
    Layout = "~/Views/Shared/_LayoutAreaAluno.cshtml";
}

<div class="container" style="padding-left: 15%; padding-top: 10%">
    <div style="width: 100%">
        <figure>
            <a href="~/CursosOnline/Index"><img src="~/Models/imagens/icones/icone-online.png" style="width:35%; width:35%" /></a>
            <a href="~/CursosPresenciais/Index"> <img src="~/Models/imagens/icones/icone-presenciais.png" style="width:35%; width:35%" /></a>
        </figure>
    </div>
</div>