<head>
    <title>MediaPlayer Video</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Ativo</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Ação</a>
                <a class="dropdown-item" href="#">Outra ação</a>
                <a class="dropdown-item" href="#">Algo mais aqui</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Link isolado</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Desativado</a>
        </li>
    </ul>
    @*<nav>
            <ul id="ul-principal">
                <li class="li-p"><a href="#">HOME</a></li>
                <li class="li-p"><a href="#">NOTÍCIAS</a>
                    <ul class="ul-noticias">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </li>
                <li class="li-p">
                    <a href="#">ENTRETENIMENTO</a>
                    <ul class="ul-entret">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </li>
                <li class="li-p">
                    <a href="#">FALE CONOSCO</a>
                    <ul class="ul-falec">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </li>
                <li class="li-p"><a href="#">SOBRE</a></li>

            </ul>
        </nav>*@
</body>