* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: montserrat;
    width: 100%;
}

header {
    background-color: #002060;
}

.formCadastro {
    padding-top: 50px;
    padding-left: 20%;
}

/*-------------------------------TABELA*------------------------*/

td {
    background: gray;
    padding: 10px
}

.tdEspaco {
    display: table;
    float: left;
    margin-right: 120px
}

table {
    border-spacing: 5px;
}

/*------------------------------ RODAPE -----------------------*/

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
}


.liRodape {
    display: inline;
    padding: 0px;
    padding-left: 450px;
}


.liRodape2 {
    display: inline;
    padding: 0px;
    padding-left: 50px;
}


.imagemRodape {
    width: 25px;
    height: 25px;
}

/*----------------------------- SOBRE ------------------------------*/
.sobre {
    padding-top: 15%;
}

    .sobre p {
        padding-left: 90px;
    }

/*------------------------------TELA LOGIN -----------------------------*/
.telaLogin {
    border-radius: 65px;
    width: 60%;
    background-color: #002060;
    height: 400px;
}

.containerResponsivo{
    padding-top: 18%;
    padding-left: 20%;
    
}

.containerResponsivo h2{
    padding-left: 20%
}

/*------------------------ FORMATAÇÃO DA VIEW RECUPERAR E-MAIL ---------------------- */

.recuperarEmail {
    padding-top: 17%;
    padding-left: 15%;
}

    .recuperarEmail hr {
        width: 80%;
        border: none;
        height: 1px;
        color: #333;
        background-color: #333;
    }

.formRecuperarEmail {
    padding-top: 3%;
}