*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 0px 20px;
}

a:hover{
    background-color: rgba(255,255,255,33);
}

nav{
    background-color: black;
    height: 50px;
}

ul#ul-principal{
    background-color: blue;
    width: 90%;
    margin: auto;
}

.li-p{
    line-height: 50px;
    float: left;
}

ul li ul li{

    background-color: black;
}
