
    <head>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/styleHome.css" rel="stylesheet" />
        <link href="~/Content/cssMedia/Home/mediaHomeResponsivo.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home">
    <div>
        <div>
            <h2>Conheça Nossos Cursos</h2>
        </div>
        <div class="table-responsive tabela">
            <table class="table table-borderless" cellspacing="20">
                <tbody>
                    <tr>
                        <td class="tdEspaco">
                            <a href="~/CursosOnline/Index"><img src="~/Models/imagens/icones/icone-online.png" class="img-responsive imagem" /></a>
                        </td>
                        <td class="tdEspaco">
                            <a href="~/CursosPresenciais/Index"><img src="~/Models/imagens/icones/icone-presenciais.png" class="img-responsive imagem" /></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
