@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left: 2%;padding-top: 16%">
    <h2>Quem Somos</h2>
    <p>
        A Expert Nutri é uma empresa de capacitação na área de Nutrição, fundada em 2019 por pelas nutricionista Alice <br />
        Mesquita e Emanuelle Santiago.
    </p>

    <h2>Missão da Empresa</h2>
    <p>
        Promover o desenvolvimento técnico-científico na área da Nutrição, favorecendo uma atuação profissional <br />
        diferenciada, segura, ética e responsável.
    </p>

    <h2>Valores</h2>
    <p>
        Qualidade na prestação de serviços, Competência, Comprometimento com os Clientes, Motivação e Ética
    </p>

</div>