<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
</head>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sobre">
    <h3>Quem Somos</h3>
    <p>
        A Expert Nutri é uma empresa de capacitação na área de Nutrição, fundada em 2019 por pelas nutricionista Alice <br />
        Mesquita e Emanuelle Santiago.
    </p>

    <h3>Missão da Empresa</h3>
    <p>
        Promover o desenvolvimento técnico-científico na área da Nutrição, favorecendo uma atuação profissional <br />
        diferenciada, segura, ética e responsável.
    </p>

    <h3>Valores</h3>
    <p>
        Qualidade na prestação de serviços, Competência, Comprometimento com os Clientes, Motivação e Ética
    </p>
</div>
