<!Doctype html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Specter System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styleHome.css" rel="stylesheet" />
    <link href="~/Content/cssMedia/Home/mediaHomeResponsivo.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:#002060 !important">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#conteudoNavbarSuportado"
                aria-controls="conteudoNavbarSuportado"
                aria-expanded="false"
                aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Cadastre-se</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #E0FFFF !important;">
        <a><img src="~/Models/imagens/icones/logoMarca.png"></a>
        <ul class="navbar-nav navbar navbar-expand-lg navbar-light mr-auto" style="background-color: #E0FFFF" mr-auto" id="menuPrincipal">
            <li class="nav-item"><a class="nav-link" href="~/Home/Index" style="color:black">INÍCIO</a></li>
            <li class="nav-item"><a class="nav-link" href="#" style="color:black">EVENTOS</a></li>
            <li class="nav-item"><a class="nav-link" href="~/Home/SobreEmpresa" style="color:black">SOBRE</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <nav class="navbar navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark footer">
        <ul class="navbar-nav mr-auto">
            <li class="col-md-8"></li>
            <li class="nav-item col-md-6" style="color: White">
                <img src="~/Models/imagens/icones/icone-telefone.png" style="width: 25px; height: 25px;"> <a>(71) 98799-1958 / 99205-0116</a>
            </li>
            <li class="nav-item col-md-9" style="color: White">
                <img src="~/Models/imagens/icones/icone-email.png" style="width: 25px; height: 25px;" /><a>contatoexpertnutri@gmail.com</a>
            </li>
        </ul>
        <img src="~/Models/imagens/icones/icone-Instagram.png" style="width: 25px; height: 25px;">
        <img src="~/Models/imagens/icones/icone-face.png" style="width: 25px; height: 25px;">
    </nav>
</body>
</html>