
@media (max-width: 640px) {

    .menu {
        position: fixed;
        padding-top: 50%;
        width: 60%;
    }

    section {
        padding-top: 26%;
        padding-left: 25%;
    }
}

@media(max-width: 770px){
    
    .indexAreaAluno {
        padding-left: 25%;
        padding-top: 20%
    }
}


